<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Online Notice Board</title>

    <link rel="icon" href="{% static 'img/core-img/favicon.ico' %}">

    <link rel="stylesheet" href="{% static  'style.css' %}">

</head>

<body>
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>

    <header class="header-area">

        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="header-content h-100 d-flex align-items-center justify-content-between">
                            <div class="academy-logo">
                                <a href="index.html">
                                    <h3>Online Notice Board</h3>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="academy-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="academyNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        <!-- Calling Info -->
                        <div class="calling-info">
                            <div class="call-center">
                            <a href="/student/logout">Logout</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img" style="background-image: url(img/bg-img/breadcumb.jpg);">
        <div class="bradcumbContent">
            <h2>Your Notices</h2>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->


            <!-- Single Top Popular Course -->
            
            <br><br><br><br><br><br>
            {%  for k,v in c.items   %}
            
           <center> <div class="col-8 col-lg-6" >
                <div class="single-top-popular-course d-flex align-items-center flex-wrap mb-30 wow fadeInUp"
                    data-wow-delay="400ms" >
                    <div  style="text-align: center;width: 100%;">
                        <!--<h5>Business for begginers</h5>-->
                        <h5>Notice No : {{forloop.counter}}</h5>
                        <!--<span>By Simon Smith   |  March 18, 2018</span>-->
                        <span><i><b>Uploaded By {{v.name}} | {{v.uptime}}</i></b></span>
                        <p>
                        {% for line in v.notice %}
                        <br>{{line}}
                            {% endfor %}</p>
                        <!--<a href="#" class="btn academy-btn btn-sm">See More</a>-->
                    </div>
                    
                </div>
            </div></center>
            {% endfor %}





            <!--    </div> -->
        </div>
    </div>


    <!-- ##### CTA Area Start ##### -->
    <div class="call-to-action-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cta-content d-flex align-items-center justify-content-between flex-wrap">
                        <h3>Do you want to get notification on mail</h3>
                        <a href="/student/email_request" class="btn academy-btn">Click Hear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <footer class="footer-area">
        <div class="bottom-footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js' %}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/bootstrap/popper.min.js' %}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    <!-- All Plugins js -->
    <script src="{% static 'js/plugins/plugins.js' %}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js' %}"></script>
</body>
</html>