<html>

<head>
    <title>Reminders</title>
    <style>
        textarea {
            resize: none;
        }

        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <center><table>
        {% for k,v in reminders.items%}
        <tr>
            <th colspan="2" align="center">Reminder No : {{forloop.counter}}</th>
        </tr>
        <tr>
            <th>Date : </th>
            <td>{{v.date}}</td>
        </tr>
        <tr>
            <th>Reminder : </th>
            <td>{{v.reminder}}</td>
        </tr>
        {%endfor%}
    </table></center>
</body>

</html>